{
  "openapi": "3.0.3",
  "info": {
    "title": "Puzzle Api",
    "description": "Puzzle Api",
    "version": "0"
  },
  "servers": [
    {
      "url": "https://app.puzzle.io/rest/v0"
    }
  ],
  "paths": {
    "/company": {
      "post": {
        "operationId": "createCompanyApi",
        "summary": "Initiate Creating a Company",
        "description": "Call this endpoint to pass some company information that is usually asked for during Puzzle's onboarding flow. A URL will be returned. When you redirect your user to this URL, the company information that was passed the original request will be prefilled for them in Puzzle's UI, allowing them to skip a few steps and create their Puzzle account more quickly.",
        "tags": [
          "Company"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "minLength": 1
                      },
                      "firstName": {
                        "type": "string",
                        "minLength": 1
                      },
                      "lastName": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "email",
                      "firstName",
                      "lastName"
                    ]
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "SAAS",
                          "ECOMMERCE",
                          "MARKETPLACE",
                          "ADVERTISING",
                          "SERVICES",
                          "ENTERPRISE",
                          "FINTECH",
                          "FINTECH_CRYPTO",
                          "VIRTUAL_GOODS",
                          "CONSUMER",
                          "NOT_SURE",
                          "OTHER",
                          "AGRICULTURE_AND_FARMING",
                          "CONSTRUCTION",
                          "HEALTHCARE",
                          "HOME_SERVICES",
                          "LEGAL",
                          "MANUFACTURING",
                          "MEDIA_AND_ENTERTAINMENT",
                          "PROFESSIONAL_SERVICES",
                          "RETAIL",
                          "REAL_ESTATE",
                          "RESTAURANT",
                          "TRANSPORTATION",
                          "WHOLESALE_TRADE"
                        ],
                        "description": "The value is normalized before matching, so any casing that maps onto a listed value is accepted."
                      },
                      "revenueModel": {
                        "type": "string",
                        "enum": [
                          "AnnualSubscription",
                          "MonthlySubscription",
                          "MultipleRevenueModels",
                          "NotSure",
                          "PreRevenue",
                          "ServiceBased",
                          "TransactionBased",
                          "UsageBased",
                          "Subscription",
                          "AddOns",
                          "TransactionBasedPhysical",
                          "TransactionBasedOther",
                          "Contracts",
                          "HourlyBilling",
                          "Marketplace",
                          "Commission"
                        ]
                      },
                      "timeZone": {
                        "type": "string",
                        "minLength": 1
                      },
                      "currentUserRole": {
                        "type": "string",
                        "enum": [
                          "Founder",
                          "CompanyEmployee",
                          "OutsourcedAccountantOrCFO"
                        ]
                      },
                      "coaType": {
                        "type": "string",
                        "enum": [
                          "saas",
                          "ecommerce",
                          "fondo",
                          "every",
                          "decimal",
                          "custom"
                        ]
                      },
                      "orgType": {
                        "type": "string",
                        "enum": [
                          "CCorporation",
                          "LLC",
                          "Partnership",
                          "SCorporation",
                          "SoleProprietorship"
                        ]
                      },
                      "hasHistoricalData": {
                        "type": "boolean"
                      },
                      "isFreshStart": {
                        "type": "boolean"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "website": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "type",
                      "revenueModel",
                      "timeZone",
                      "currentUserRole",
                      "orgType"
                    ]
                  },
                  "integration": {
                    "type": "object",
                    "properties": {
                      "nativeCompanyId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "authForwardToken": {
                        "type": "string"
                      },
                      "createPushIntegrationConnection": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "nativeCompanyId"
                    ]
                  }
                },
                "required": [
                  "user",
                  "company"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "companyId": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "setPasswordUrl": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "userId",
                    "companyId",
                    "setPasswordUrl"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "operationId": "companiesApi",
        "summary": "Get companies",
        "description": "Modern client credentials return a paginated list of companies authorized through the API connection's firms. The limit defaults to 100 and is capped at 100. OAuth and upstream-user authentication preserve the existing unpaginated response and ignore limit and cursor.\n\nRequired for modern client credentials: read:company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Page size for modern client credentials; ignored for OAuth and upstream users."
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Pagination cursor for modern client credentials; ignored for OAuth and upstream users."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Partner-facing external identifier"
                          },
                          "name": {
                            "type": "string"
                          },
                          "connectedAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "Ready",
                              "Syncing",
                              "NoData"
                            ]
                          },
                          "financialYearStartDate": {
                            "type": "string"
                          },
                          "reportingCurrency": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 3,
                            "description": "ISO 4217 currency code"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "connectedAt",
                          "status",
                          "financialYearStartDate",
                          "reportingCurrency"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "companies",
                    "nextCursor"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/{id}": {
      "get": {
        "operationId": "company",
        "summary": "Get Company",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "name": {
                      "type": "string"
                    },
                    "institutionConnections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "institution": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "OK",
                              "TemporaryOutage",
                              "Disconnected"
                            ]
                          },
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Partner-facing external identifier"
                                },
                                "nativeId": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "Investment",
                                    "Invoice",
                                    "Credit",
                                    "Depository",
                                    "Loan",
                                    "Other",
                                    "PaymentProcessing",
                                    "Payroll",
                                    "Fintech",
                                    "Sweep"
                                  ]
                                },
                                "name": {
                                  "type": "string"
                                },
                                "mask": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "currentBalance": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Arbitrary-precision decimal, serialized as a string"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "minLength": 3,
                                      "maxLength": 3,
                                      "description": "ISO 4217 currency code"
                                    }
                                  },
                                  "required": [
                                    "amount",
                                    "currency"
                                  ],
                                  "description": "A monetary amount with its currency"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "Syncing",
                                    "Ready"
                                  ]
                                },
                                "ingestStatus": {
                                  "type": "string",
                                  "enum": [
                                    "Syncing",
                                    "Ready"
                                  ]
                                },
                                "connectionStatus": {
                                  "type": "string",
                                  "enum": [
                                    "OK",
                                    "TemporaryOutage",
                                    "Disconnected"
                                  ]
                                },
                                "lastUpdatedAt": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "ISO 8601 timestamp",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "id",
                                "nativeId",
                                "type",
                                "name",
                                "mask",
                                "currentBalance",
                                "status",
                                "ingestStatus",
                                "connectionStatus",
                                "lastUpdatedAt"
                              ]
                            }
                          },
                          "lastSyncedAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp"
                          },
                          "updatedAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp"
                          },
                          "fdicCoverage": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "AtRisk",
                                  "Review",
                                  "Covered"
                                ]
                              },
                              "depositoryTotal": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Arbitrary-precision decimal, serialized as a string"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "description": "ISO 4217 currency code"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "description": "A monetary amount with its currency"
                              },
                              "estimatedInsuranceCoverage": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Arbitrary-precision decimal, serialized as a string"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "minLength": 3,
                                    "maxLength": 3,
                                    "description": "ISO 4217 currency code"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "description": "A monetary amount with its currency"
                              }
                            },
                            "required": [
                              "status",
                              "depositoryTotal",
                              "estimatedInsuranceCoverage"
                            ],
                            "nullable": true
                          }
                        },
                        "required": [
                          "institution",
                          "status",
                          "accounts",
                          "lastSyncedAt",
                          "createdAt",
                          "updatedAt",
                          "fdicCoverage"
                        ]
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "Ready",
                        "Syncing",
                        "NoData"
                      ]
                    },
                    "financialSummary": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "InProgress",
                            "Failed",
                            "Ready"
                          ]
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "annualAvgFullyLoadedSalaryCostPerEmployee": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "annualAvgSalaryCostPerEmployee": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "lastMonthAvgFullyLoadedSalaryCostPerEmployee": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "lastMonthAvgSalaryCostPerEmployee": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "totalCash": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "runway": {
                              "type": "integer",
                              "nullable": true
                            },
                            "fundraiseDate": {
                              "type": "string",
                              "minLength": 1,
                              "description": "Calendar date, YYYY-MM-DD",
                              "nullable": true
                            },
                            "cashOutDate": {
                              "type": "string",
                              "minLength": 1,
                              "description": "Calendar date, YYYY-MM-DD",
                              "nullable": true
                            },
                            "lastMonthOperatingBurn": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "lastMonthTotalBurn": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            },
                            "lastMonthBankBurn": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3,
                                  "description": "ISO 4217 currency code"
                                }
                              },
                              "required": [
                                "amount",
                                "currency"
                              ],
                              "description": "A monetary amount with its currency"
                            }
                          },
                          "required": [
                            "annualAvgFullyLoadedSalaryCostPerEmployee",
                            "annualAvgSalaryCostPerEmployee",
                            "lastMonthAvgFullyLoadedSalaryCostPerEmployee",
                            "lastMonthAvgSalaryCostPerEmployee",
                            "totalCash",
                            "runway",
                            "fundraiseDate",
                            "cashOutDate",
                            "lastMonthOperatingBurn",
                            "lastMonthTotalBurn",
                            "lastMonthBankBurn"
                          ],
                          "nullable": true
                        },
                        "updatedAt": {
                          "type": "string",
                          "minLength": 1,
                          "description": "ISO 8601 timestamp",
                          "nullable": true
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "status",
                        "metrics",
                        "updatedAt",
                        "errors"
                      ],
                      "nullable": true
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "dataCompletenessLevel": {
                          "type": "string",
                          "enum": [
                            "Complete",
                            "High",
                            "Medium",
                            "Low"
                          ]
                        },
                        "categorization": {
                          "type": "object",
                          "properties": {
                            "percentDollarVolumeCategorized": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "percentDollarVolumeCategorized"
                          ]
                        }
                      },
                      "required": [
                        "dataCompletenessLevel",
                        "categorization"
                      ],
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "institutionConnections",
                    "status",
                    "financialSummary",
                    "metadata"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/{id}/accounts": {
      "post": {
        "operationId": "createFinancialAccount",
        "summary": "Create Financial Account",
        "description": "Creates a financial account for the specified Puzzle company.\n\nThe created account will have a status of Syncing until data is added to it, then it will be Ready. Please allow a couple of minutes for this status to update after the data has been added to the account.\n\nThe type of data that can be added to an account depends on the account type.\n\nRequired scope: write:account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nativeId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mask": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "Investment",
                      "Invoice",
                      "Credit",
                      "Depository",
                      "Loan",
                      "Other",
                      "PaymentProcessing",
                      "Payroll",
                      "Fintech",
                      "Sweep"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 3,
                    "description": "ISO 4217 currency code"
                  },
                  "subType": {
                    "type": "string",
                    "enum": [
                      "Annuity",
                      "Brokerage",
                      "BrokerageForMinors",
                      "CD",
                      "Checking",
                      "CreditCard",
                      "EducationSavingsAccount",
                      "HSA",
                      "Investment",
                      "LineOfCredit",
                      "Loan",
                      "MoneyMarket",
                      "Mortgage",
                      "Other",
                      "PayPal",
                      "Prepaid",
                      "ProfitSharingPlan",
                      "Retirement",
                      "Savings",
                      "StockPlan",
                      "Stripe",
                      "TaxAdvantagedInvestment",
                      "Trust",
                      "Unknown",
                      "CashLike"
                    ]
                  }
                },
                "required": [
                  "nativeId",
                  "name",
                  "mask",
                  "type",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "nativeId": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "mask": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "Investment",
                        "Invoice",
                        "Credit",
                        "Depository",
                        "Loan",
                        "Other",
                        "PaymentProcessing",
                        "Payroll",
                        "Fintech",
                        "Sweep"
                      ]
                    },
                    "subType": {
                      "type": "string",
                      "enum": [
                        "Annuity",
                        "Brokerage",
                        "BrokerageForMinors",
                        "CD",
                        "Checking",
                        "CreditCard",
                        "EducationSavingsAccount",
                        "HSA",
                        "Investment",
                        "LineOfCredit",
                        "Loan",
                        "MoneyMarket",
                        "Mortgage",
                        "Other",
                        "PayPal",
                        "Prepaid",
                        "ProfitSharingPlan",
                        "Retirement",
                        "Savings",
                        "StockPlan",
                        "Stripe",
                        "TaxAdvantagedInvestment",
                        "Trust",
                        "Unknown",
                        "CashLike"
                      ],
                      "nullable": true
                    },
                    "currentBalance": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "description": "A monetary amount with its currency",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "Syncing",
                        "Ready"
                      ]
                    },
                    "lastUpdatedAt": {
                      "type": "string",
                      "minLength": 1,
                      "description": "ISO 8601 timestamp",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "nativeId",
                    "name",
                    "mask",
                    "type",
                    "subType",
                    "currentBalance",
                    "status",
                    "lastUpdatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "financialAccounts",
        "summary": "Get Financial Accounts",
        "description": "Retrieves a list of all of the company's financial accounts.\n\nRequired scope: read:company",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Partner-facing external identifier"
                          },
                          "nativeId": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "mask": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Investment",
                              "Invoice",
                              "Credit",
                              "Depository",
                              "Loan",
                              "Other",
                              "PaymentProcessing",
                              "Payroll",
                              "Fintech",
                              "Sweep"
                            ]
                          },
                          "subType": {
                            "type": "string",
                            "enum": [
                              "Annuity",
                              "Brokerage",
                              "BrokerageForMinors",
                              "CD",
                              "Checking",
                              "CreditCard",
                              "EducationSavingsAccount",
                              "HSA",
                              "Investment",
                              "LineOfCredit",
                              "Loan",
                              "MoneyMarket",
                              "Mortgage",
                              "Other",
                              "PayPal",
                              "Prepaid",
                              "ProfitSharingPlan",
                              "Retirement",
                              "Savings",
                              "StockPlan",
                              "Stripe",
                              "TaxAdvantagedInvestment",
                              "Trust",
                              "Unknown",
                              "CashLike"
                            ],
                            "nullable": true
                          },
                          "currentBalance": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Arbitrary-precision decimal, serialized as a string"
                              },
                              "currency": {
                                "type": "string",
                                "minLength": 3,
                                "maxLength": 3,
                                "description": "ISO 4217 currency code"
                              }
                            },
                            "required": [
                              "amount",
                              "currency"
                            ],
                            "description": "A monetary amount with its currency",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "Syncing",
                              "Ready"
                            ]
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "nativeId",
                          "name",
                          "mask",
                          "type",
                          "subType",
                          "currentBalance",
                          "status",
                          "lastUpdatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "accounts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/{id}/accounts/balances": {
      "post": {
        "operationId": "createAccountBalance",
        "summary": "Create Account Balance",
        "description": "Creates a balance for a financial account.\n\nNote that Puzzle stores all account balances trending towards positive, regardless of account type. Additional details can be found here.\n\nRequired scope: write:account_balance",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Partner-facing external identifier"
                  },
                  "balance": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Arbitrary-precision decimal, serialized as a string"
                      },
                      "currency": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3,
                        "description": "ISO 4217 currency code"
                      }
                    },
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "description": "A monetary amount with its currency"
                  },
                  "availableBalance": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Arbitrary-precision decimal, serialized as a string"
                      },
                      "currency": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3,
                        "description": "ISO 4217 currency code"
                      }
                    },
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "description": "A monetary amount with its currency"
                  },
                  "timestamp": {
                    "type": "string",
                    "minLength": 1,
                    "description": "ISO 8601 timestamp"
                  }
                },
                "required": [
                  "accountId",
                  "balance",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "accountId": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "balance": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "description": "A monetary amount with its currency"
                    },
                    "availableBalance": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "description": "A monetary amount with its currency"
                    },
                    "timestamp": {
                      "type": "string",
                      "minLength": 1,
                      "description": "ISO 8601 timestamp"
                    }
                  },
                  "required": [
                    "id",
                    "accountId",
                    "balance",
                    "availableBalance",
                    "timestamp"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "balances",
        "summary": "Get Financial Account Balances",
        "description": "Returns the balances on a company's financial accounts on the provided dates. A balance is the balance on the account at the start of the day provided.\n\nIf we have an official institution account balance for that date, we will use the institution's provided account balance. If the institution has not provided an account balance for the requested date, we will calculate the balance by summing transactions in the account that have occurred between the target data and the closest balance we have available.\n\nNote that Puzzle stores all account balances trending towards positive, regardless of account type. Additional details can be found here.\n\nIf any of the company accounts are currently syncing or processing, this endpoint will return a 409 error.\n\nYou can check the status of an account in the company object on the FinancialInstitutionAccount object. If the status is UpToDate then these balances can be retrieved without error.\n\nRequired scope: read:company",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          },
          {
            "name": "dates",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balancesByDate": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "balances": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "balance": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Arbitrary-precision decimal, serialized as a string"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "minLength": 3,
                                      "maxLength": 3,
                                      "description": "ISO 4217 currency code"
                                    }
                                  },
                                  "required": [
                                    "amount",
                                    "currency"
                                  ],
                                  "description": "A monetary amount with its currency"
                                },
                                "date": {
                                  "type": "string"
                                },
                                "derivedFrom": {
                                  "type": "string",
                                  "enum": [
                                    "OfficialInstitutionBalance",
                                    "Calculated"
                                  ]
                                },
                                "account": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Partner-facing external identifier"
                                    },
                                    "nativeId": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "Investment",
                                        "Invoice",
                                        "Credit",
                                        "Depository",
                                        "Loan",
                                        "Other",
                                        "PaymentProcessing",
                                        "Payroll",
                                        "Fintech",
                                        "Sweep"
                                      ]
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "mask": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "currentBalance": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "string",
                                          "minLength": 1,
                                          "description": "Arbitrary-precision decimal, serialized as a string"
                                        },
                                        "currency": {
                                          "type": "string",
                                          "minLength": 3,
                                          "maxLength": 3,
                                          "description": "ISO 4217 currency code"
                                        }
                                      },
                                      "required": [
                                        "amount",
                                        "currency"
                                      ],
                                      "description": "A monetary amount with its currency"
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "Syncing",
                                        "Ready"
                                      ]
                                    },
                                    "ingestStatus": {
                                      "type": "string",
                                      "enum": [
                                        "Syncing",
                                        "Ready"
                                      ]
                                    },
                                    "connectionStatus": {
                                      "type": "string",
                                      "enum": [
                                        "OK",
                                        "TemporaryOutage",
                                        "Disconnected"
                                      ]
                                    },
                                    "lastUpdatedAt": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "ISO 8601 timestamp",
                                      "nullable": true
                                    },
                                    "pathToDetails": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "nativeId",
                                    "type",
                                    "name",
                                    "mask",
                                    "currentBalance",
                                    "status",
                                    "ingestStatus",
                                    "connectionStatus",
                                    "lastUpdatedAt",
                                    "pathToDetails"
                                  ],
                                  "nullable": true
                                }
                              },
                              "required": [
                                "balance",
                                "date",
                                "derivedFrom",
                                "account"
                              ]
                            }
                          },
                          "totalCash": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Arbitrary-precision decimal, serialized as a string"
                              },
                              "currency": {
                                "type": "string",
                                "minLength": 3,
                                "maxLength": 3,
                                "description": "ISO 4217 currency code"
                              }
                            },
                            "required": [
                              "amount",
                              "currency"
                            ],
                            "description": "A monetary amount with its currency"
                          }
                        },
                        "required": [
                          "date",
                          "balances",
                          "totalCash"
                        ]
                      }
                    }
                  },
                  "required": [
                    "balancesByDate"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/{id}/ledgerAccounts/{ledgerAccountId}": {
      "get": {
        "operationId": "ledgerAccount",
        "summary": "Get Ledger Account",
        "description": "Retrieves a specific account in the company's chart of accounts.\n\nBy default, the balances on the account are calculated using cash basis.\n\nRequired scope: read:company",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          },
          {
            "name": "ledgerAccountId",
            "in": "path",
            "required": true,
            "description": "The ledger account ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          },
          {
            "name": "basis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cash",
                "accrual"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier"
                    },
                    "name": {
                      "type": "string"
                    },
                    "coaKeys": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Chart-of-accounts key"
                      }
                    },
                    "restrictedCoaKeys": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Chart-of-accounts key"
                      }
                    },
                    "nominalCode": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "type": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "category": {
                      "type": "string"
                    },
                    "subCategory": {
                      "type": "string",
                      "nullable": true
                    },
                    "tertiaryCategory": {
                      "type": "string",
                      "nullable": true
                    },
                    "parentCode": {
                      "type": "string",
                      "nullable": true
                    },
                    "currentBalance": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "description": "A monetary amount with its currency"
                    },
                    "currentBalanceWithoutSubAccounts": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "description": "A monetary amount with its currency"
                    },
                    "isBankAccount": {
                      "type": "boolean"
                    },
                    "accountId": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Partner-facing external identifier",
                      "nullable": true
                    },
                    "views": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "currentness": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "coaKeys",
                    "restrictedCoaKeys",
                    "nominalCode",
                    "keywords",
                    "type",
                    "tags",
                    "category",
                    "currentBalance",
                    "currentBalanceWithoutSubAccounts",
                    "isBankAccount",
                    "views"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/company/{id}/bills": {
      "get": {
        "operationId": "billsApi",
        "summary": "Get Bills",
        "description": "Retrieves bills.\n\nRequired scope: read:company",
        "tags": [
          "Bills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          },
          {
            "name": "isLinked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Boolean flag; \"true\" enables, any other value disables"
            }
          },
          {
            "name": "isPaid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Boolean flag; \"true\" enables, any other value disables"
            }
          },
          {
            "name": "isSubmitted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Boolean flag; \"true\" enables, any other value disables"
            }
          },
          {
            "name": "isVoided",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Boolean flag; \"true\" enables, any other value disables"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Arbitrary-precision decimal, serialized as a string"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Arbitrary-precision decimal, serialized as a string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Calendar date, YYYY-MM-DD"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Calendar date, YYYY-MM-DD"
            }
          },
          {
            "name": "dueDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Calendar date, YYYY-MM-DD"
            }
          },
          {
            "name": "dueDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Calendar date, YYYY-MM-DD"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "Draft",
                    "Voided",
                    "Paid",
                    "Unpaid",
                    "Current",
                    "Overdue"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Draft",
                      "Voided",
                      "Paid",
                      "Unpaid",
                      "Current",
                      "Overdue"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "vendorIds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "description": "Partner-facing external identifier"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Partner-facing external identifier"
                  }
                }
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AMOUNT_DESC",
                "AMOUNT_ASC",
                "DESCRIPTOR_DESC",
                "DESCRIPTOR_ASC",
                "DUE_DATE_DESC",
                "DUE_DATE_ASC",
                "ISSUE_DATE_DESC",
                "ISSUE_DATE_ASC",
                "VENDOR_DESC",
                "VENDOR_ASC"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Partner-facing external identifier"
                          },
                          "userId": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Partner-facing external identifier"
                          },
                          "vendorId": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Partner-facing external identifier"
                          },
                          "issueDate": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Calendar date, YYYY-MM-DD"
                          },
                          "dueDate": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Calendar date, YYYY-MM-DD",
                            "nullable": true
                          },
                          "externalId": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "submittedAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp",
                            "nullable": true
                          },
                          "voidedAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp",
                            "nullable": true
                          },
                          "paidAt": {
                            "type": "string",
                            "minLength": 1,
                            "description": "ISO 8601 timestamp",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "Deleted",
                              "Draft",
                              "Posted",
                              "Voided",
                              "Paid"
                            ]
                          },
                          "currentness": {
                            "type": "string",
                            "enum": [
                              "Current",
                              "Overdue"
                            ],
                            "nullable": true
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Arbitrary-precision decimal, serialized as a string"
                              },
                              "currency": {
                                "type": "string",
                                "minLength": 3,
                                "maxLength": 3,
                                "description": "ISO 4217 currency code"
                              }
                            },
                            "required": [
                              "amount",
                              "currency"
                            ],
                            "description": "A monetary amount with its currency",
                            "nullable": true
                          },
                          "provider": {
                            "type": "string",
                            "nullable": true
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "file": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "filename": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "contentType": {
                                      "type": "string"
                                    },
                                    "size": {
                                      "type": "integer"
                                    },
                                    "isDeleted": {
                                      "type": "boolean"
                                    },
                                    "downloadInfo": {
                                      "type": "object",
                                      "properties": {
                                        "signedUrl": {
                                          "type": "string"
                                        },
                                        "urlExpiresAt": {
                                          "type": "string",
                                          "minLength": 1,
                                          "description": "ISO 8601 timestamp"
                                        }
                                      },
                                      "required": [
                                        "signedUrl",
                                        "urlExpiresAt"
                                      ]
                                    },
                                    "parseError": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "parseType": {
                                      "type": "string",
                                      "enum": [
                                        "bill",
                                        "invoice",
                                        "receipt",
                                        "bankStatement",
                                        "unknown"
                                      ],
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "filename",
                                    "contentType",
                                    "size",
                                    "isDeleted",
                                    "downloadInfo",
                                    "parseError",
                                    "parseType"
                                  ]
                                },
                                "uploadActorType": {
                                  "type": "string",
                                  "enum": [
                                    "SYSTEM_ACTOR",
                                    "TRAIN_ACTOR",
                                    "USER_ACTOR",
                                    "USER_ACTOR_VIA_AI",
                                    "ADMIN_ACTOR",
                                    "AI_ACTOR"
                                  ]
                                }
                              },
                              "required": [
                                "file",
                                "uploadActorType"
                              ]
                            }
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Partner-facing external identifier"
                                },
                                "classifications": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "class": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "segments": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "minLength": 1,
                                              "description": "Partner-facing external identifier",
                                              "nullable": true
                                            },
                                            "segment": {
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string",
                                              "nullable": true
                                            }
                                          },
                                          "required": [
                                            "id",
                                            "segment",
                                            "description"
                                          ]
                                        }
                                      }
                                    },
                                    "required": [
                                      "class",
                                      "description",
                                      "segments"
                                    ]
                                  }
                                },
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Arbitrary-precision decimal, serialized as a string"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "minLength": 3,
                                      "maxLength": 3,
                                      "description": "ISO 4217 currency code"
                                    }
                                  },
                                  "required": [
                                    "amount",
                                    "currency"
                                  ],
                                  "description": "A monetary amount with its currency"
                                },
                                "coaKey": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Chart-of-accounts key",
                                  "nullable": true
                                },
                                "quantity": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string",
                                  "nullable": true
                                },
                                "unitPrice": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Arbitrary-precision decimal, serialized as a string",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "id",
                                "classifications",
                                "amount",
                                "coaKey",
                                "quantity",
                                "unitPrice",
                                "description"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "userId",
                          "issueDate",
                          "dueDate",
                          "externalId",
                          "description",
                          "submittedAt",
                          "voidedAt",
                          "paidAt",
                          "status",
                          "currentness",
                          "amount",
                          "provider",
                          "documents",
                          "lines"
                        ]
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "endCursor": {
                          "type": "string",
                          "nullable": true
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        },
                        "total": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "required": [
                        "endCursor",
                        "hasNextPage",
                        "total"
                      ]
                    },
                    "total": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        }
                      },
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "description": "A monetary amount with its currency"
                    }
                  },
                  "required": [
                    "items",
                    "pageInfo",
                    "total"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBillApi",
        "summary": "Create Bill",
        "description": "Creates a bill for the company.\n\nRequired scope: write:bill",
        "tags": [
          "Bills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Partner-facing external identifier"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nativeId": {
                    "type": "string"
                  },
                  "vendorId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Partner-facing external identifier"
                  },
                  "description": {
                    "type": "string"
                  },
                  "issueDate": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Calendar date, YYYY-MM-DD"
                  },
                  "dueDate": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Calendar date, YYYY-MM-DD"
                  },
                  "shouldPost": {
                    "type": "boolean"
                  },
                  "lines": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Partner-facing external identifier"
                        },
                        "amount": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3,
                          "description": "ISO 4217 currency code"
                        },
                        "coaKey": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Chart-of-accounts key"
                        },
                        "quantity": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "unitPrice": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Arbitrary-precision decimal, serialized as a string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "classifications": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "class": {
                                "type": "string",
                                "minLength": 1
                              },
                              "segment": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
[...]
